/* ブレイクポイント */
// $mobileBreakPoint: 600px; //600
// $tabletBreakPoint: 768px; // 768
// $desktopBreakPoint: 960px; //960
// $widescreenBreakPoint: 1280px; //1280
// $fullhdBreakPoint: 1920px; //1920
$mobileBreakPoint: 600px; //600
$desktopBreakPoint: 900px; //900
$widescreenBreakPoint: 1200px; //1200
$fullhdBreakPoint: 1536px; //1536
// xs, extra-small: 0px
// sm, small: 600px
// md, medium: 900px
// lg, large: 1200px
// xl, extra-large: 1536px
.c-activity-type-container{
    min-height: calc(100vh - 3.2rem);
    width:100%;
    display: flex;
    flex-direction: column;
    // align-items: center; 
    // justify-content: center; 
    margin:0;
    padding:0 8px; 
    // @media (min-width: $desktopBreakPoint) {
    //     margin:0;
    //     padding:0 10rem;
    // } 
    // @media (min-width: $widescreenBreakPoint) {
    //     margin:0;
    //     padding:0 10rem;
    // } 
    // @media (min-width: $fullhdBreakPoint) {
    //     margin:0;
    //     padding:0 20rem;
    // } 
    // border:1px solid red;
    // background-color:lightgreen;
}
.c-activity-type-card-wraper{ 
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    padding:16px 0;
    // @media (min-width: $desktopBreakPoint) {
    //     margin:0;
    //     padding:0 10rem;
    // } 
    @media (min-width: $widescreenBreakPoint) {
        flex-direction: row;
    } 
    // border:1px solid red;
    // background-color:lightgreen;

}