.c-todo-unfinish-Container{
    width:100%;
    // border: 1px solid grey;
    margin-bottom:16px;
    padding:8px;
}

.c-todo-unfinish-list{
    text-align: center;
    margin-bottom:8px;
    // display: flex;
    // flex-direction: column;
    // margin: 16px 0;
    // border-bottom: 1px solid grey;
    // @media (min-width: $desktopBreakPoint) {
    //     flex-direction: row;
    //     flex-direction: flex-start;
    //     padding:.8px;
    // } 
}