.TopAppBar-containe {
    height:3.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:.8rem;
  }
.TopAppBar-button{
  margin: 0 .8rem 0 0; 
  padding:.4rem;
  border:none;
  background-color: lightblue;
  font-size: calc(8px + 2vmin);
  cursor:pointer;
}
button:hover {
  color:rgb(8, 69, 138);
}