.TopAppBar-containe {
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    border:1px solid #000;
  }
.TopAppBar-button{
  margin: 0 .8rem 0 0 
}