// $mobileBreakPoint: 600px; //600
// $tabletBreakPoint: 768px; // 768
// $desktopBreakPoint: 960px; //960
// $widescreenBreakPoint: 1280px; //1280
// $fullhdBreakPoint: 1920px; //1920
$mobileBreakPoint: 600px; //600
$desktopBreakPoint: 900px; //900
$widescreenBreakPoint: 1200px; //1200
$fullhdBreakPoint: 1536px; //1536
// xs, extra-small: 0px
// sm, small: 600px
// md, medium: 900px
// lg, large: 1200px
// xl, extra-large: 1536px
.c-puttring-bottom-nav-container{
    width:100%;
    position:fixed;
    bottom:0;
    left:0;
    @media (min-width: $widescreenBreakPoint) {
        flex-direction: row;
        justify-content:space-between;
        margin-bottom:0;
    } 
   };




