// $mobileBreakPoint: 600px; //600
// $tabletBreakPoint: 768px; // 768
// $desktopBreakPoint: 960px; //960
// $widescreenBreakPoint: 1280px; //1280
// $fullhdBreakPoint: 1920px; //1920
$mobileBreakPoint: 600px; //600
$desktopBreakPoint: 900px; //900
$widescreenBreakPoint: 1200px; //1200
$fullhdBreakPoint: 1536px; //1536
// xs, extra-small: 0px
// sm, small: 600px
// md, medium: 900px
// lg, large: 1200px
// xl, extra-large: 1536px
.c-puttring-un-finish-container{
    width:100%;
    margin:0 8px 60px 8px ;
    padding:0 8px 0 8px ;
    text-align:center;
   };
.c-puttring-un-finish-header-title{
    width:100%;
    display:flex;
    flex-direction:flex-start;
    align-items: center;
    padding:8px;
    color:#121212;
}
.c-puttring-un-finish-activities{
    // border-bottom:1px solid grey; 
    margin-bottom:32px;
}
.c-puttring-un-finish-check{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid grey;
    cursor: pointer;
    margin-bottom:8px;
}
.c-puttring-check-box{
    display:flex;
    align-items: center;
}
.c-puttring-un-finish-title{
    display:flex;
    justify-content: center;
    align-items: center;
    color:#0288d1;
    margin:0;
    padding:0;
    cursor:pointer;
}
.c-puttring-un-finish-course{
    color:#29b6f6;
    margin:-16px 0 0 0;
    padding:0;
}
