*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: calc(10px + 2vmin);
}
li {
    list-style: none;
}
a {
    text-decoration: none
}
.App-wraper{
  overflow:hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App-container{
  display: flex;
  flex-direction: column;
}
.App-header{
  width:100%;
  position: fixed;
  top: 0;
  background-color: lightblue;
  z-index: 99999;
}
.App-main{
  min-height: calc(100vh - 3.2rem);
  padding-top:3.2rem;
}

